<launch>
	<include file="$(find openni_launch)/launch/openni.launch">
	</include>

	<include file="$(find hokuyo_node)/hokuyo_node.launch">
	</include>

	<include file="$(find kobuki_node)/launch/minimal.launch">
	</include>

	<include file="$(find localization)/launch/sound_localization.launch">
	</include>



	<!--<arg name="rtabmap_args"            default="delete_db_on_start"/> -->  
	<arg name="rtabmap_args"            default=""/>
	<arg name="localization"            default="true"/>
	<!--<arg name="database_path"			default="~/draSSL_dataset/map.db"/> -->


	<include file="$(find rtabmap_ros)/launch/rgbd_mapping_inkyu_v3.launch">
		<arg name="localization"            value="$(arg localization)"/>
		<arg name="rtabmap_args"            value="$(arg rtabmap_args)"/>  		
	</include>

	

	<node pkg="tf" type="static_transform_publisher" name="link_soundcube" args="-0.008 -0.002 0.702 0 0 0 base_footprint micro_center_link 100" />

	<node pkg="raybased_ssl" type="raybased_ssl_node" name="raybased_ssl_node" output="screen">

	</node>



</launch>
